:root {
  --heading-font: 'Londrina Solid', cursive;
  --detail-font: 'Roboto', sans-serif;
  --green: #74C69D;
  --pink: #F4AAFB;
}


.event-card {
    display: flex;
    justify-content: start;
    gap: 20px;
    width:70vw;
    margin: 0 auto;
    /* background-color: yellow; */
    
  }

  .event-details {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 5px;
    gap:10px;
  }

.image{
  max-width: 50%;
  border-radius: 5%;
}

.event-type {
  font-size: 2rem;
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--pink);
  letter-spacing: 3px;
}

.event-description {
  font-family: var(--detail-font);
  font-weight: 800;
  font-size: 1.5rem;
}

.event-author {
  font-family: var(--detail-font);
  font-size: 1rem;
}

.date{
  font-family: var(--detail-font);
  font-size: 1.25rem;
}

.time-start{
  font-family: var(--detail-font);
  font-size: 1.25rem;
}

.time-end{
  font-family: var(--detail-font);
  font-size: 1.25rem;
}

.attendance-counter{
  font-family: var(--detail-font);
  font-size: 1rem;
}

.launch-button{
  width: 200px;
  appearance: button;
  background-color: var(--green);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--detail-font),Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 8px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.launch-button:focus {
  text-decoration: none;
}

.launch-button:hover {
  text-decoration: none;
}

.launch-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.launch-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .launch-button{
    padding: 12px 50px;
  }
}

@media(max-width:1000px){
  .event-card{
    flex-direction: column;
  }

  .image{
    max-width: 100%;
  }
}