
.event-card {
    display: flex;
    justify-content: start;
    gap: 20px;
    width:70vw;
    margin: 0 auto;
    /* background-color: yellow; */
    
  }

  .event-details {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 5px;
    gap:10px;
  }

.image{
  max-width: 50%;

}

@media(max-width:720px){
  .event-card{
    flex-direction: column;
  }

  .image{
    max-width: 100%;
  }
}


