form {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: center;
  width: 70vw;
  margin: 50px auto;
  gap: 10px;
}

.date-section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

